.square {
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background-color: #673AB7;
    animation: loadingG 2.1s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
  }
  
  @keyframes loadingG {
    0% {
      transform: translate(0, 0) rotate(0deg);
    }
    50% {
      transform: translate(150px, 0) rotate(360deg);
    }
    100% {
      transform: translate(0, 0) rotate(0deg);
    }
  }
  