@import "../node_modules/react-image-crop/dist/ReactCrop.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IRANYekanRegular";
  src: url("../src/assets/font/IRANYekanRegular.ttf");
}

@font-face {
  font-family: "IRANYekanMedium";
  src: url("../src/assets/font/IRANYekanMedium.ttf");
}

@font-face {
  font-family: "IRANYekanBold";
  src: url("../src/assets/font/IRANYekanBold.ttf");
}

@layer base {
  html {
    @apply !cls-h-full cls-scroll-smooth;
  }

  body {
    background-color: white;
    @apply cls-font-yekan-regular cls-font-normal;
  }

  * {
    @apply cls-scroll-smooth;
  }
}

.MuiCircularProgress-root {
  @apply !cls-hidden;
}

input.dp__input {
  direction: rtl !important;
}

.rdp__modal .eKcXbM {
  max-height: 100% !important;
}
.Toastify__toast--success {
  @apply cls-bg-[#c4f1c5]  cls-p-1;
}
.Toastify__toast--error {
  @apply cls-bg-[#ffcfcf] cls-p-1;
}
.Toastify__toast-body {
  @apply cls-text-sm cls-text-[#131313];
}
.Toastify__close-button {
  @apply cls-hidden;
}

.podspace-folder .MuiBox-root {
  @apply !cls-relative;
}

@layer components {
  .spinner {
    @apply cls-border-r-purple-300 cls-border-t-violet-600 cls-border-solid cls-border-4 cls-rounded-full cls-animate-spin cls-w-5 cls-h-5 cls-inline-block;
  }
  .textarea {
    @apply cls-p-2 cls-min-h-0 cls-h-auto cls-rounded;
  }

  label {
    @apply cls-text-sm cls-text-gray-500 cls-font-yekan-regular cls-font-normal;
  }
  .input,
  .select {
    @apply cls-bg-transparent cls-px-[15px] cls-py-[9px] cls-rounded-[4px] focus:cls-px-[15px] focus:cls-outline-none cls-text-[13px] cls-font-yekan-regular cls-font-normal cls-text-[#131313] placeholder:cls-text-[#B9B9B9] cls-w-full;
  }

  .select {
    background-image: url("data:image/svg+xml;utf8,<svg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1.175 0.149902L5 3.9749L8.825 0.149902L10 1.33324L5 6.33324L0 1.33324L1.175 0.149902Z' fill='rgb(145,145,145)'/></svg>");
    background-position-x: 15px;
    background-size: 10px;
    @apply cls-rounded-sm cls-bg-no-repeat cls-appearance-none;
  }

  input[type="file"] {
    display: none;
  }
  .title {
    @apply cls-font-yekan-regular cls-font-normal cls-text-lg cls-text-[#131313];
  }

  .lib-progressBar {
    @apply cls-z-50 cls-bg-white cls-left-8 cls-w-full cls-flex cls-justify-center cls-items-center cls-bottom-10 cls-shadow-md cls-rounded-md cls-flex-col cls-max-w-[285px];
  }
  .dialog-content__modal {
    @apply cls-z-[10000];
  }

  .lib-btn {
    @apply !cls-h-fit !cls-min-h-fit cls-rounded-[4px] !cls-py-[11px] !cls-px-3 cls-font-yekan-medium cls-font-normal cls-text-[13px] !cls-outline-none !cls-border-none;
  }
  .lib-btn:active:hover,
  .lib-btn:active:focus {
    @apply cls-transform-none;
  }

  .bg-primary {
    @apply cls-bg-[#673AB7];
  }

  .custom-table {
    @apply cls-text-right cls-rounded-[4px];
  }
  .custom-table th {
    @apply cls-text-[13px] cls-font-yekan-bold cls-text-[#919191] cls-sticky cls-top-0 cls-bg-white cls-z-10 cls-cursor-default;
  }
  .custom-table td {
    @apply cls-text-sm cls-font-yekan-regular cls-text-[#919191];
  }
  .custom-table :is(th, td) {
    @apply cls-px-5 cls-py-4 cls-border-b-[1px] cls-border-b-gray-200 cls-font-yekan-regular;
  }
  .custom-table td.actions {
    @apply cls-p-0;
  }

  .custom-table tr td:first-child {
    @apply cls-relative;
  }

  .custom-table tr:focus-within td {
    @apply cls-text-[#673AB7];
  }
  .custom-table tr:focus-within td:first-child::before {
    @apply cls-block;
  }
  .custom-table tr :is(td, th):last-child {
    @apply cls-text-left;
  }

  .modal {
    background-color: transparent !important;
  }

  .dialog-content__modal {
    @apply cls-z-[10000];
  }

  .lib-modal-box {
    @apply cls-rounded-lg cls-w-full !cls-bg-white cls-p-5;
  }
  .lib-modal-title {
    @apply cls-text-zinc-600 cls-text-[15px] cls-font-yekan-regular cls-font-normal;
  }
  .lib-modal-action > :not([hidden]) ~ :not([hidden]) {
    @apply cls-m-0;
  }
  .lib-modal-action {
    @apply cls-items-center !cls-gap-x-[10px] cls-font-normal;
  }
  .lib-modal-action .lib-modal-btn-success,
  .lib-modal-btn-success {
    @apply cls-leading-[22px] cls-bg-[#673AB7] hover:cls-bg-[#673AB7] !cls-px-[23px] !cls-py-[9px] cls-text-white;
  }
  .lib-modal-action .lib-modal-btn-cancel {
    @apply cls-bg-transparent cls-text-[#673AB7] hover:cls-bg-[#673AB7]  hover:cls-text-white cls-leading-[22px] !cls-px-[19px] !cls-py-[9px];
  }

  .file-manager-breadcrumb li::after {
    content: " ";
    @apply cls-w-4 cls-h-4 cls-inline-block cls-align-middle cls-mr-1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23acb3bf' viewBox='0 0 24 24'%3E%3Cpath d='M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z'/%3E%3C/svg%3E");
  }

  .file-manager-breadcrumb li:last-child::after {
    @apply cls-hidden;
  }
}

@layer utilities {
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    @apply cls-rounded-full cls-bg-[#919191];
  }

  *::-webkit-scrollbar-thumb {
    @apply cls-rounded-full cls-bg-gray-300 cls-border;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}

.file-upload.shepherd-enabled.shepherd-target,
.file-table-mode.shepherd-enabled.shepherd-target,
.file-card-mode.shepherd-enabled.shepherd-target,
.file-search-delete-mode.shepherd-enabled.shepherd-target {
  @apply !cls-relative !cls-z-[2000] !cls-bg-[#673AB7];
}
.shepherd-enabled.shepherd-target {
  @apply cls-relative !cls-z-[2000] !cls-bg-white;
}
